@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Manrope", sans-serif;
  position: relative;
}

.main-link {
  color: #a3da8d;
  text-decoration: none;
  font-weight: 700;
}

.other-link {
  color: #f3eada;
  text-decoration: none;
}